<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">EasyTicket</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/customers">Customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/roles">Roles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/usersroles">Users roles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tickets">Tickets</a>
              </li>
            </ul>   
          </div> 
          <%- (locals.user) ? `Welcome ${locals.user.name}!  `: "<a class='nav-link' href='/login'>Log In</a>"%> <a class='nav-item' href='/logout'>Log Out</a>
          
    </div>
</nav>